.bicycle-header {
  color: red;
}
.banner-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.bicycle-show-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lhs-bicycle {
  width: 60%;
  padding: 16px;
}
.rhs-bicycle {
  width: 40%;
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.bicycle-reviews {
  background-color: white;
  padding: 16px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.bicycle-info {
  background-color: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}
