.page-container {
  display:flex;
}

.lhs-index-page {
  width: 60%;
}

.rhs-index-page {
  width: 40%;
}

#map {
  position:sticky;
  top: 0;
}


.button {
  padding:10px;
  margin-bottom: 25px;
  border-radius :25px;
  color:black;
  position: relative;
  background-color: white;
  border: none;
  border-style: none;
  font-size: 18px;
  color: red;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.bicycle-card {
 display: flex;
 margin: 8px;
 border-radius: 6px;
 height: 168px;
 padding: 8px;
 background-color: white;
box-shadow: 0 0 8px rgba(0,0,0,0.2)

}

.bicycle-card-img {
  width: 40%;
  margin-bottom: 8px;
  height: 100%;
  border-radius: 6px;
}

.bottom-bicycle-card {
  margin:8px;
  width:100%;
  display: flex;
  flex-direction:column;
  position: relative;
}

.bicycle-title {
  font-size: 16px;
  margin:0px;
  font-weight: 550;
}

.subtext {
  padding-top: 8px;
  font-size: 12px;
  margin:0px;
}

.btn .btn-info {
  width:90%;
  margin-top: 32px;
  padding-left: 16px;
}

.bicycle-info-button {
  display: flex;
  height: 120px;
  align-items: center;
  margin-top:7px;
  justify-content: flex-end;
}

.btn.btn-primary {
  padding-left:16px;
}
