.bicycle-show-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lhs-bicycle {
  width: 60%;
  padding: 16px;
}
.rhs-bicycle {
  width: 40%;
  margin: 16px;
}

.bicycle-reviews {
  background-color: white;
  padding: 16px;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.bicycle-info {
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.reserve-bicycle {
  padding: 16px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

