.bicycle-show-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lhs-bicycle {
  width: 60%;
  padding: 16px;
}
.rhs-bicycle {
  width: 40%;
  margin: 16px;
}

#map {
border-radius: 2px;
}
// .carousel-inner {
//   position: relative;
// }

// .back-button {
//   position: absolute;
//   top: -15px;
//   left: 50%;
// }
