// Specific CSS for your home-page
.form-check-input, .form-check-label {
  color:black!important;
}

.form-actions {
  width: 100%;
  display: flex;
}

.log-in{
justify-content: center;
margin-right: 200px;
margin-left: 200px;
text-decoration: none;
border-radius:4px;
&:hover{
    color: red;
  }
}

.sign-up-btn{
  width: 160px;
  padding:5px 20px;
  background: white;
  border-radius: 4px;
  border: solid #ced4da 1px;
  text-decoration: none;
  &:hover{
    color: red;
  }
}

.btn-links{
  display: flex;
  flex-direction: column;
}
.container-home{
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  padding-left: 108px;
  padding-top: 124px;
}

.logo {
  position: absolute;
  left: 160px;
  bottom: 360px;
}

.container {
  background: none;
}

.search-form {
  height:360px;
  width:300px;
  background-color: white;
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 2px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2)
}

.input {
  width: 100%
}

.btn-flat {
  margin-top: 24px;
}

.label {
  margin-top: 8px;
}


