.container-form {
  background:  linear-gradient(187deg, rgba(180,58,122,0.3) 0%, rgba(108,204,184,0.3) 25%, rgba(233,70,0,0.3) 50%), url('teal-bike');
  background-size: cover;
  background-position: center;
  padding-bottom: 40px;
  padding-top: 40px;
  height: 100vh;
}


