.container-form {
  background: linear-gradient(187deg, rgba(180,58,122,0.3) 0%, rgba(108,204,184,0.3) 25%, rgba(233,70,0,0.3) 50%);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
  padding-top: 50px;
  height: 100vh;
}


