.review-containerr {
  // background-size: cover;
  // // align-items: center;
  // // justify-content: center;
  // margin-top: 0px;
  // padding-top: 0px;
  height: 100%;
  width: 100%;
}

.new-form-card {
  margin-top: 16px;
}
