<div class="container-home">
<!--   <div class="card-box-shadow"> -->
    <div class="logo">
      <%= image_tag 'logo-v3.png', alt: "justbikes-logo" %>
    </div>
    <div class="search-form">
            <%#= simple_form_for(@bicycle) do |f| %>
            <%#= f.input :location %>
            <%#= f.input :start_date %>
            <%#= f.input :end_date %>
            <%#= f.submit 'Search', class: 'btn-flat' %>
            <%# end %>
        <h4>Search through thousands of bikes </h4>
        <label for="location">Location</label>
        <input class="input" type="text">
        <label for="start_date">Rent</label>
        <input class="input" type="text">
        <label for="start_date">Return</label>
        <input class="input" type="text">
        <input type="submit" class="btn-flat">
    </div>
<!--   </div> -->
</div>
