.btn-flat {
  color: white;
  padding: 8px 24px;
  width: 100%;
  border-radius: 4px;
  background: #DB5156;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FF7278;
  color: white;
}
.login-container{
  display: flex;
  justify-content: center;
}
.btn-login {
  position: relative;
  width:27%;
  padding: 6px 12px;
  background-color:#df3c47;
  border-radius: 6px;
  border: 0.4px solid white;
  margin-top:27px;
  content-align: center;
}
.btn-login-new {
  position: relative;
  width:33%;
  padding: 6px 120px;
  background-color:#df3c47;
  border-radius: 6px;
  border: 0.4px solid white;
  margin-top:-43px;

}

.btn-login-new a{
  color:black;
}

.btn-submit-new {
  position: relative;
  width:33%;
  padding: 6px 12px;
  background-color:#df3c47;
  border-radius: 6px;
  border: 0.4px solid white;
  margin-top:27px;
}
