.btn-flat {
  color: white;
  padding: 8px 24px;
  width: 100%;
  border-radius: 4px;
  background: #DB5156;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FF7278;
  color: white;
}

// .btn.btn-primary {
//   width: 100%;
//   padding-top: 5px;
//   padding-bottom: 5px;
//   background: #DB5156;
//   transition: background 0.3s ease;
//   margin: 5px;
//   border: none;
// }

// .btn.btn-primary:hover {
//   background: #1BCB7F;
//   color: white;
// }

.btn-ghost {
  color: #DB5156;
  border: 1px solid #DB5156;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-dark {
  height: 50%;
  margin-top: 15px;
}