h2 {
  text-align: center;
  padding: 20px;
}

.new-form-card {
  width: 500px;
  padding: 10px;
  margin: 20px auto;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background: white;
  border-radius: 2px;
}

.new-form {
  border: none;
  padding: 10px;
}

form abbr[title] {
  border-bottom: none !important;
  text-decoration: none !important;
}
